<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://kit.fontawesome.com/95c027ec8f.css" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NOTABURGER_2._0</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/NOTABURGER_2._0.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/95c027ec8f.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NotABurger</a>
                @*<input type="image" src="Resources/Notaburger Logo_transparent_text.png" asp-controller="Home" asp-action="Index" width="110" padding="0px" margin="0px" />*@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item topMenu">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu"><strong>Menu</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Careers"><strong>Careers</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Stories"><strong>Stories</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Community"><strong>Community</strong></a>
                        </li>
                        <li class="topMenu">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button id="searchBtn" onclick="SearchBar()" class="search btn btn-outline-secondary"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                            
                            
                        </li>
                        <li class="topMenu"> 
                            <a asp-area="" asp-controller="Home" asp-action="Menu" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i>     Start Ordering</a>
                            @*<a href="menu.html"><button><img src="Resources/BagIcon.png" width="15" /><strong>Start Ordering</strong></button></a>*@
                          </li>
                    </ul>
                </div>
            </div>
        </nav>
        @*
        <header>
        <nav>
        <div>
        <ul>

        <li class="topMenu"><a href="careers.html"><strong>Careers</strong></a></li>
        <li class="topMenu"><a href="stories.html"><strong>Stories</strong></a></li>
        <li class="topMenu"><a href="community.html"><strong>Community</strong></a></li>
        <li class="topMenu">
        <input id="searchBar" placeholder="Search.." />
        <button id="searchBtn" onclick="SearchBar()" class="search"><img src="Resources/searchIcon.png" width="20" /></button>
        </li>
        <li class="topMenu"> <a href="menu.html"><button><img src="Resources/BagIcon.png" width="15" /><strong>Start Ordering</strong></button></a></li>
        </ul>
        </div>
        </nav>
        </header>
        *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center" id="bottom">
            <div class="row">
                <div class="col">
                    <p id="footer"><a asp-controller="Home" asp-action="Stories" id="footer">Company</a></p>

                    <p id="footer"><a asp-controller="Home" asp-action="NOTASTORE">Shop NOTASTORE</a></p>

                    <p id="footer"><a asp-controller="Home" asp-action="Menu">Ordering & Rewards</a></p>

                    <p id="footer">Connect</p>
                </div>
                <div class="col">
                    <p id="footer"><a asp-controller="Home" asp-action="Stories">Our History</a></p>
                    <p id="footer">Apparel</p>
                    <p id="footer">Buy Gift Card</p>
                    <p id="footer">MyNotABurger Benefits</p>
                    <p id="footer">Contact Customer Care</p>
                </div>
                <div class="col">
                    <p id="footer">Press Room</p>
                    <p id="footer">Kids</p>
                    <p id="footer">Gift Card Balance</p>
                    <p id="footer">FAQs</p>
                    <p id="footer">Sign Up For Emails</p>
                </div>
                <div class="col">
                    <p id="footer">Franchising</p>
                    <p id="footer">Locations</p>
                    <p id="footer">Gifts</p>
                    <p id="footer">My Account</p>
                    <p id="footer">Fill Out Our Survey</p>
                </div>
                <div class="col">
                    <p id="footer">Portals</p>
                    <p id="footer">Groceries</p>
                    <p id="footer">Shipping & Returns</p>

                    <a><i class="fa-brands fa-facebook"></i></a>
                    <a><i class="fa-brands fa-twitter"></i></a>
                    <a><i class="fa-brands fa-instagram"></i></a>
                    <a><i class="fa-brands fa-youtube"></i></a>

                    <a href="https://www.facebook.com/profile.php?id=100087649245588" target="_blank"><img src="Resources/icnFacebook.png" width="30" />&nbsp;&nbsp;</a>
                    <a href="https://twitter.com/NotABurger0" target="_blank"><img src="Resources/icnTwitter.png" width="30" />&nbsp;&nbsp;</a>
                    <a href="" target="_blank"><img src="Resources/icnInstagram.png" width="30" />&nbsp;&nbsp;</a>
                    <a href="https://www.youtube.com/channel/UCfCUxpbpaH6uKF6cN92s1Mw" target="_blank"><img src="Resources/icnYoutube.png" width="30" />&nbsp;&nbsp;</a>
                </div>

                <div class="col">
                    <p id="footer">Contact Us</p>
                    <p id="footer">Nutritional Information</p>
                    <p id="footer">Terms & Conditions</p>
                    <p id="footer">Accessibility Statements</p>

                    <span><img src="Resources/Notaburger Logo_transparent.png" width="60" /></span>
                </div>
            </div>
            &copy; 2023 - NOTABURGER 2.0 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
