<link rel="stylesheet" href="~/css/L.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@model ZipModel
<div class="divs divs3">
    <img class="divs2" src="~/images/ZipCodeImg.png" />
        <h3>Enter Your Zip Code</h3>
        <form asp-controller="Zip" asp-action="ShowZip" method="post">
            <br/>
            @*<input type="text" id="country" placeholder="Country Abbreviation" />
            <br/>*@
            <input type="search" id="txtZip" name="zipcode" placeholder="Zip Code"/>
            <button type="submit" class="btn btn-primary" value="Submit" >Find Location</button>
        </form>
    </div>
