@{
    ViewData["Title"] = "NOTABURGER | CAREERS";
}



<html>
<head>

    <title>NOTABURGER | Careers</title>
</head>


<body>


    <div class="content divs divs3">
        <section class="box_">
            <p>
                <table>
                    <h1 id="title" class="center"><strong> ================================ JOIN US! ================================</strong></h1>
                    <tr>
                        <image class="center_image" id="employee1" src="/images/Employees (1).png" width="400">
                            <h1 id="employeeTranscript1" class="center">Team Member</h1>
                            <h3 id="employeeTranscript1_" class="center text-white"> Here at NOTABURGER, we believe that working with us is more than just a job. We strive to create a team-oriented culture where every employee feels valued and supported in their role. We are committed to providing our employees with a safe and inclusive work environment that encourages personal and professional growth.</h3>
                        </image>
                    </tr>
                    <tr>
                        <image class="center_image" id="employee2" src="/images/Employees (2).png" width="400">
                            <h1 id="employeeTranscript2" class="center"> Team Leader</h1>
                            <h3 id="employeeTranscript2_" class="center text-white"> At our fast food company, we believe that becoming a manager is an opportunity to take your career to the next level. As a manager, you'll have the opportunity to lead a team of dedicated employees, make important decisions, and contribute to the overall success of the business.</h3>

                        </image>
                    </tr>
                    <tr>
                        <image class="center_image" id="employee3" src="/images/Employees (3).png" width="400">
                            <h1 id="employeeTranscript3" class="center"> Home Office </h1>
                            <h3 id="employeeTranscript3_" class="center text-white"> Becoming an office worker at NOTABURGER is an opportunity to build a fulfilling and challenging career in a supportive and collaborative work environment. We're committed to providing our office workers with the support, training, and resources they need to succeed and grow in their roles. We're excited to welcome you to our team and help you achieve your professional goals.</h3>
                        </image>
                    </tr>
                    <tr>
                        <image class="center_image" id="employee4" src="/images/Employees (4).png" width="400">
                            <h1 id="employeeTranscript4" class="center"> Field </h1>
                            <h3 id="employeeTranscript4_" class="center text-white"> We believe in promoting from within, which means that there are plenty of opportunities for growth and advancement as a district manager within NOTABURGER. Whether you're interested in moving up to a higher-level management position or exploring opportunities in other areas of the business, we'll work with you to help you achieve your career goals.</h3>
                        </image>
                    </tr>
                    <tr>
                        <image class="center_image" id="employee5" src="/images/Employees (5).png" width="400">
                            <h1 id="employeeTranscript5" class="center"> Restaurant Leadership</h1>
                            <h3 id="employeeTranscript5_" class="center text-white">
                                We believe in promoting from within, which means that there are plenty of opportunities for growth and advancement as a district manager within our fast food company. Whether you're interested in moving up to a higher-level management position or exploring opportunities in other areas of the business, we'll work with you to help you achieve your career goals.
                            </h3>
                        </image>
                    </tr>
                    <tr>
                        <a asp-area="" asp-controller="Home" asp-action="UserConspiracy">
                            <img alt="" class="center_image" src="/images/Victim2_.png" id="imgClickChange" width="400" />
                        </a>
                        <h1 id="victimTranscript" class="center"> Operating Partner </h1>
                        <h3 id="victimTranscript_" class="center text-white"> Our operating partners receive competitive compensation and benefits packages, including healthcare, retirement plans, and opportunities for bonuses and incentives. We believe in rewarding our partners for their hard work and dedication.</h3>


                    </tr>
                </table>

            </p>
        </section>
    </div>
</body>

</html>

