@{
    ViewData["Title"] = "Careers";
}
<!DOCTYPE html>
<html>
<head>

    
    <title>NOTABURGER | Careers</title>
</head>

<body>


    <div class="content">
        <section class="box_">
            <p>
                <table>
                    <h1 id="title" class="center"><strong> ================================ JOIN US! ================================</strong></h1>
                    <tr>
                        <image class="center_image" id="employee1" src="/images/Employees (1).png" width="400">
                            <h1 id="employeeTranscript1" class="center">Team Member</h1>
                            <h3 id="employeeTranscript1_" class="center"> Be the front smiling face! Be there for all our customers NO MATTER WHAT! Give them the best experience you possibly can.</h3>
                        </image>
                    </tr>
                    <tr>
                        <image class="center_image" id="employee2" src="/images/Employees (2).png" width="400">
                            <h1 id="employeeTranscript2" class="center"> Team Leader</h1>
                            <h3 id="employeeTranscript2_" class="center"> Like working with people? Our leaders are here to ensure that our customers leave with a smile on their face! Lead the way for a better tomorrow!</h3>

                        </image>
                    </tr>
                    <tr>
                        <image class="center_image" id="employee3" src="/images/Employees (3).png" width="400">
                            <h1 id="employeeTranscript3" class="center"> Home Office </h1>
                            <h3 id="employeeTranscript3_" class="center"> Interested in working at our coporate offices? We welcome everyone to help the inside run smoothly and hop in to our locations</h3>
                        </image>
                    </tr>
                    <tr>
                        <image class="center_image" id="employee4" src="/images/Employees (4).png" width="400">
                            <h1 id="employeeTranscript4" class="center"> Field </h1>
                            <h3 id="employeeTranscript4_" class="center"> We need help everywhere 24/7, meaning we need a  lot of people to cover different grounds at local places. Join us to call multiple stores home!</h3>
                        </image>
                    </tr>
                    <tr>
                        <image class="center_image" id="employee5" src="/images/Employees (5).png" width="400">
                            <h1 id="employeeTranscript5" class="center"> Restaurant Leadership</h1>
                            <h3 id="employeeTranscript5_" class="center">
                                Ready to take the next step in your career and lead multiple locations? We are looking for capable leaders to keep an eye out on all actions!
                            </h3>
                        </image>
                    </tr>
                    <tr>
                        <img alt="" class="center_image" src="/images/Victim2_.png" id="imgClickChange" onclick="Hidden_Careers()" width="400" />
                        <h1 id="victimTranscript" class="center"> Operating Partner </h1>
                        <h3 id="victimTranscript_" class="center"> If you are looking for making six figure salaries, lead teams, and flex their entrepreneurial muscles for a multi-billion dollar brand and maintain a crucial work-life balance. Then this it, join us!</h3>
                        
			           
                    </tr>
                </table>

            </p>
        </section>
    </div>
</body>

</html>