@{
    ViewData["Title"] = "NOTABURGER | COMMUNITY";
}

@model Person

<link rel="stylesheet" href="~/css/L.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@if (User.IsInRole("Administrator") || User.IsInRole("Employee"))
{



    <div class="text-dark text-center ">
        <h2>NOTABLOG!</h2>
    </div>

    <div class="row divs divs3">
        <div class="leftcolumn">
            <div class="card">
                <h2 class="text-dark">SUPPORTING THE LOCAL CLINICS!</h2>
                <h5 class="text-dark">Jan 7, 2023</h5>
                <img class="rounded" src="~/images/AbortionEdit.png" />
                <p class="text-dark">
                    Hello everyone,

                    We at NOTABURGER are proud to announce that we are partnering with local clinics to support our communities' health and wellness. As a company, we believe in giving back to the communities that we serve, and we are committed to supporting initiatives that promote healthy living.

                    Through our partnership with local clinics, we will be sponsoring various programs and initiatives aimed at improving the health of our communities. This includes providing funding for health education and outreach programs, as well as supporting community health fairs and other events.

                    At NOTABURGER, we understand the importance of healthy family dynamics, and we are committed to doing our part to support our communities in achieving their health goals. We believe that by working together, we can make a real difference in the lives of our customers and their families.

                    We are excited about this partnership and look forward to working with local clinics to promote health and wellness in our communities. Thank you for your continued support.

                    Sincerely,

                    NOTABURGER
                </p>
            </div>
            <div class="card">
                <h2 class="text-dark">WE'RE AT THE STADIUM!</h2>
                <h5 class="text-dark">Sep 23, 2021</h5> @*feel free to style this better, and / or changing the images*@
                <img class="rounded" src="~/images/FootballEdit.png" />
                <p class="text-dark">
                    As a fast food company, we believe in supporting our local community, and one of the ways we do this is by sponsoring local high school sports teams. We understand that sports play an important role in the lives of many young people, and we are proud to be a part of their journey towards success.

                    We recognize the dedication and hard work that goes into being a student-athlete, and we want to show our support by providing financial assistance and other resources to help these teams thrive. We believe that supporting high school sports is not only beneficial for the athletes themselves but also for the entire community.

                    By working together with local high schools, we hope to create a positive impact and inspire young people to pursue their passions, whether that be in sports or any other field. We are committed to being a positive influence in the community and look forward to continuing our support for local high school sports teams.

                    Thank you for your continued support of our business and our community.
                </p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2 class="text-dark">About Us!</h2>
                <img class="round_center" width="250" src="~/images/NotABurger_.png"/>NOTABURGER
                <p class="text-dark">We are the one and only home of the GRASSBURGER™!</p>
            </div>
            <div class="card">
                <h3 class="text-dark">Popular Posts</h3>

                <img class="rounded" src="~/images/Spamton'sFriends.png"/>  <a href="https://drive.google.com/file/d/1bg2GNUPTKjzvgCE3uheF9sK1l3opjvVV/view?usp=share_link">
                    SAY HELLO TO...
                </a>

                <br/>

                <img class="rounded" src="~/images/FoundersEdit.png"/><a asp-controller="Home" asp-action="Stories" class=" text-dark">Check out our new stories page!</a>
                <br/>
                <img class="rounded" src="~/images/Employee(4)Edit.png"/><a asp-controller="Home" asp-action="Careers" class="text-dark">Join our team!</a>
            </div>
            <div class="card col">
                <h3 class="text-dark">Follow Us!</h3>
                <div class="col">
                    <a asp-controller="Home" asp-action="Facebook" target="_blank"><i class="fa-brands fa-facebook text-dark"></i></a>
                    <a asp-controller="Home" asp-action="Twitter" target="_blank"><i class="fa-brands fa-twitter text-dark"></i></a>
                    <a><i class="fa-brands fa-instagram"></i></a> @* secret *@
                    <a asp-controller="Home" asp-action="YouTube" target="_blank"><i class="fa-brands fa-youtube text-dark"></i></a>
                </div>
            </div>
        </div>
    </div>


}
else
{
    <div class="text-dark text-center ">
        <h2>NOTABLOG!</h2>
    </div>

    <div class="row divs divs3">
        <div class="leftcolumn">
            <div class="card">
                <h2 class="text-dark">SUPPORTING THE LOCAL CLINICS!</h2>
                <h5 class="text-dark">Jan 7, 2023</h5>
                <img class="rounded" src="~/images/Abortion.png" />
                <p class="text-dark">
                    Hello everyone,

                    We at NOTABURGER are proud to announce that we are partnering with local clinics to support our communities' health and wellness. As a company, we believe in giving back to the communities that we serve, and we are committed to supporting initiatives that promote healthy living.

                    Through our partnership with local clinics, we will be sponsoring various programs and initiatives aimed at improving the health of our communities. This includes providing funding for health education and outreach programs, as well as supporting community health fairs and other events.

                    At NOTABURGER, we understand the importance of healthy family dynamics, and we are committed to doing our part to support our communities in achieving their health goals. We believe that by working together, we can make a real difference in the lives of our customers and their families.

                    We are excited about this partnership and look forward to working with local clinics to promote health and wellness in our communities. Thank you for your continued support.

                    Sincerely,

                    NOTABURGER
                </p>
            </div>
            <div class="card">
                <h2 class="text-dark">WE'RE AT THE STADIUM!</h2>
                <h5 class="text-dark">Sep 23, 2021</h5> @*feel free to style this better, and / or changing the images*@
                <img class="rounded" src="~/images/Football.png" />
                <p class="text-dark">
                    As a fast food company, we believe in supporting our local community, and one of the ways we do this is by sponsoring local high school sports teams. We understand that sports play an important role in the lives of many young people, and we are proud to be a part of their journey towards success.

                    We recognize the dedication and hard work that goes into being a student-athlete, and we want to show our support by providing financial assistance and other resources to help these teams thrive. We believe that supporting high school sports is not only beneficial for the athletes themselves but also for the entire community.

                    By working together with local high schools, we hope to create a positive impact and inspire young people to pursue their passions, whether that be in sports or any other field. We are committed to being a positive influence in the community and look forward to continuing our support for local high school sports teams.

                    Thank you for your continued support of our business and our community.
                </p>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2 class="text-dark">About Us!</h2>
                <img class="round_center" width="250" src="~/images/NotABurger_.png" />NOTABURGER
                <p class="text-dark">We are the one and only home of the GRASSBURGER™!</p>
            </div>
            <div class="card">
                <h3 class="text-dark">Popular Posts</h3>

                <img class="rounded" src="~/images/Spamton'sFriends.png" />  
                    SAY HELLO TO...
                <br />

                <img class="rounded" src="~/images/Founders.png" /><a asp-controller="Home" asp-action="Stories" class=" text-dark">Check out our new stories page!</a>
                <br />
                <img class="rounded" src="~/images/Employees (6).png" /><a asp-controller="Home" asp-action="Careers" class="text-dark">Join our team!</a>
            </div>
            <div class="card col">
                <h3 class="text-dark">Follow Us!</h3>
                <div class="col">
                    <a asp-controller="Home" asp-action="Facebook" target="_blank"><i class="fa-brands fa-facebook text-dark"></i></a>
                    <a asp-controller="Home" asp-action="Twitter" target="_blank"><i class="fa-brands fa-twitter text-dark"></i></a>
                    <a><i class="fa-brands fa-instagram"></i></a> @* secret *@
                    <a asp-controller="Home" asp-action="YouTube" target="_blank"><i class="fa-brands fa-youtube text-dark"></i></a>
                </div>
            </div>
        </div>
    </div>
}
