<link rel="stylesheet" href="~/css/L.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="divs divs3">
    <h1><strong> THANKS TO ALL THESE PEOPLE!! </strong></h1>
    <img src="~/images/confetti.gif" class="width: 5px" /> <img src="~/images/Ellie.png" class="center_img " style="width: 450px; border-radius: 50px;" /><img src="~/images/confetti.gif" class="width: 5px" />
    <p>
        <h2><strong>
            Ellie Hartnett: VA for Victim #3, woman with wrong order
            </strong>
        </h2>
    </p>
    <img src="~/images/confetti.gif" class="width: 5px" /><img src="~/images/eric_kohler_home_600.png" class="center_img " style="width: 450px; border-radius: 50px;" /><img src="~/images/confetti.gif" class="width: 5px" />
    <p>
        <h2><strong>
            Eric Kholer: CEO of NotABurger, Cire Relohk
            </strong>
        </h2>
    </p>
    <img src="~/images/confetti.gif" class="width: 5px" /><img src="~/images/Sarah.png" class="center_img " style="width: 450px; border-radius: 50px;" /><img src="~/images/confetti.gif" class="width: 5px" />
    <p>
        <h2><strong>
            Sarah Moore: VA of Mother of missing child
            </strong> 
        </h2>
    </p>
    <img src="~/images/confetti.gif" class="width: 5px" /> <img src="~/images/Cambry.jpg" class="center_img " style="width: 450px; border-radius: 50px;" /><img src="~/images/confetti.gif" class="width: 5px" />
    <p>
        <h2>
            <strong>
            Cambry Partridge: VA of interviewer and 911 operator
            </strong>
        </h2>
    </p>
    <img src="~/images/confetti.gif" class="width: 5px" /> <img src="~/images/FilmingCrew.jpg" class="center_img " style="width: 450px; border-radius: 50px;" /><img src="~/images/confetti.gif" class="width: 5px" />
    <p>
        <h2>
            <strong>
            Riley Sorenson and Avery Stephens: Part of filming crew
            </strong>
        </h2>
    </p>

</div>
