@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
 

    <title>NOTABURGER | Home</title>
</head>



<div class="container-fluid">
    <h1 class="text-center">Whataburger</h1>
    <img src="http://via.placeholder.com/600x220" />
    <div class="row">
        <div class="col">
            <h2 >Menu</h2>
            <img src="http://via.placeholder.com/220x220" />
            
            <br />
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Menu">Order Here</a>
            <br/>
            <br/>
            <br/>
            <h2 >Stories</h2>
            <img src="http://via.placeholder.com/220x220" />
            <i class="fa-solid fa-newspaper"></i>
            <p>
                See what's cooking at Notaburger,
                Discover opportunities at the restaurants,
                including the latest stories, news, and events.
                home office, and in the field.
            </p>
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Stories">Learn More</a>
            <br/>
            
            <h2><a asp-area="" asp-controller="Home" asp-action="Stories">See More!</a></h2>
        </div>
        <div class="col">
            <h2 >Stories</h2>
            <img src="http://via.placeholder.com/220x220" />
            
            <br />
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Stories">Learn More</a>
            <br/>
            <br/>
            <br/>
            <h2 >Community</h2>
            <p>Zombies reversus ab inferno, nam malum cerebro. 
                De carne animata corpora quaeritis. Summus sit​​, 
                morbo vel maleficia? De Apocalypsi undead dictum 
                mauris. Hi mortuis soulless creaturas, imo monstra 
                adventus vultus comedat cerebella viventium. 
                Qui offenderit rapto, terribilem incessu. 
                The voodoo sacerdos suscitat mortuos comedere 
                carnem. Search for solum oculi eorum defunctis cerebro.
                Nescio an Undead zombies. Sicut malus movie horror.</p>
                
                <br/>
            
            <h2><i class="fa-solid fa-briefcase"> <a asp-area="" asp-controller="Home" asp-action="Careers"></a></h2>
             
            <br/>
            <h2><a asp-area="" asp-controller="Home" asp-action="Careers">See Openings</a></h2>
        </div>
    </div>
    
</div>


</html>

