@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="Style/StyleSheet.css" />
    <script src="Scripts/secrets_JS.js" defer></script>

    <title>NOTABURGER | Home</title>
</head>

<!-- TABS -->
<body>
    <!-- MAIN BODY -->
    <div class="contentHome">
        
        <img src="Resources/GrassBurger Homepage.png" class="mainHomepage" />
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="menu">Order Here <i class="fa-solid fa-arrow-right"></i></a>

        <img src="Resources/Stories Homepage.png" class="mainHomepage" />
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Stories">LEARN MORE</a>

        <img src="Resources/HelpUs.png" class="mainHomepage" />
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Community">LEARN MORE</font></a>


        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <i class="fa-solid fa-newspaper"></i>
                    <h2>Stories</h2>
                    <p>See what's cooking at NotABurger</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Stories">See More <i class="fa-solid fa-arrow-right"></i></a>
                    
                </div>
                <div class="col">
                    
                    <i class="fa-solid fa-briefcase"></i>
                    <h2>Careers</h2>
                    
                    <p>
                        Discover opportunities at the restauraunts,
                        including the latest stories, news, and events.
                        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Careers">See Openings <i class="fa-solid fa-arrow-right"></i></a>

                        
                    </p>
                </div>
                
            </div>
        </div>
                
            
        
    </div>
</body>

</html>

