@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
 

    <title>NOTABURGER | Home</title>
</head>



<div class="container-fluid">
    <h1 class="text-center">NotABurger</h1>
    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
                <img src="~/images/NotABurgerGrassBurger.png" class="d-block w-100 img_homepage" alt="...">
    </div>
    <div class="carousel-item">
    <img src="http://via.placeholder.com/720x220" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
    <img src="http://via.placeholder.com/720x220" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    <div class="row">
        <div class="col">
            <h2 >Menu</h2>
            <img src="http://via.placeholder.com/220x220" />
            
            <br />
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Menu">Order Here</a>
            <br/>
            <br/>
            <br/>
            <h2 >Stories</h2>
            <img src="http://via.placeholder.com/220x220" />
            
            <br/>
            
            <p>
                See what's cooking at Notaburger,
                Discover opportunities at the restaurants,
                including the latest stories, news, and events.
                home office, and in the field.
            </p>
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Stories"><i class="fa-solid fa-newspaper"></i>  Learn More</a>
            <br/>
            
            
        </div>
        <div class="col">
            <h2 >Rewards</h2>
            <img src="http://via.placeholder.com/220x220" />
            
            <br />
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Stories">Learn More</a>
            <br/>
            <br/>
            <br/>
            <h2 >Community</h2>
            <p ">Keep up to date what is happening in <strong> YOUR</strong> town! Check what changes your local NotABurgers are doing to keep your community safe and connected.</p>
                
            <br/>
            <br/>
            <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Careers"><i class="fa-solid fa-briefcase"> See Openings</a>
        </div>
    </div>
    
</div>


</html>

