@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>NOTABURGER | NOTASTORE</title>
    <link rel="stylesheet" href="Style/StyleSheet.css" />
    @*<link rel="stylesheet" href="Style/menuStyle.css" />
    <script src="Scripts/menu_JS.js" defer></script>*@
</head>

<body>
    @*<header>
        <nav>
            <div>
                <ul>
                    <input type="image" src="Resources/Notaburger Logo_transparent_text.png" onclick="location.href = 'home.html';" width="110" padding="0px" margin="0px" />
                    <li class="topMenu"><a href="menu.html"><strong>Menu</strong></a></li>
                    <li class="topMenu"><a href="careers.html"><strong>Careers</strong></a></li>
                    <li class="topMenu"><a href="NOTASTORE.html"><strong>NOTASTORE</strong></a></li>
                    <li class="topMenu"><a href="stories.html"><strong>Stories</strong></a></li>
                    <li class="topMenu"><a href="community.html"><strong>Community</strong></a></li>
                    <li class="topMenu"> <a href="menu.html"><button><img src="Resources/BagIcon.png" width="15" /><strong>Start Ordering</strong></button></a></li>
                    <input id="searchBar" placeholder="Search.." />
                    <button id="searchBtn" onclick="SearchBar()" class="search"><img src="Resources/searchIcon.png" width="25" /></button>
                </ul>
            </div>
        </nav>
    </header>*@
</body>
</html>