@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container px-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-secondary text-bg-primary text-lg-center">Why Join?</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-secondary text-bg-primary text-lg-center">Offers</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-secondary text-bg-primary text-lg-center">Sign up</div>
        </div>
    </div>
</div>