@{
    ViewData["Title"] = "Menu";
}
<!DOCTYPE html>
<html>
<head>

    <title>NOTABURGER | Rewards</title>
</head>

<body>
    <div class="content text-white">
        <section>
            <h2>MyNOTABURGER Rewards Program</h2>
            <p>
                <h1>Why Join the MyNotABURGER Rewards Program?</h1>
            </p>
            <p>
                <h1>Offers and Deals</h1>
            </p>
            <br /><br />
            @*<p>
                <h1>HOW IT WORKS</h1>
                <grid>
                    1.)
                    Sign Up for NotABurger Rewards
                </grid>
                
            </p>*@


            @* Sign-in/ sign-up buttons*@
        </section>
    </div>
</body>

</html>