@{
    ViewData["Title"] = "Secret Menu";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>NOTABURGER | Secret Menu</title>
    <link rel="stylesheet" href="/css/menuStyle.css" />
</head>
<body id="SecMenuBody">
<section>
        <div class="spacer"></div>
        <div class="catName">Menu</div>

        <input type="image" src="/images/Menu Pictures/BloodPancakes.png" class="collapsible item center" padding="0px" margin="0px" />
        <div class="itemInfo">
            <p>
                $2.19 (--- Cal) <br />
                <b>Includes:</b> 3 pcs. Blood Pancakes <br />
            </p>
            <button id="NutFacts" class="collapsible">Nutritional Information</button>
            <div class="itemInfo">
                <b>Contains:</b> Egg, Milk, Wheat, Soy Gluten <br />
                <table>
                    <tr> <td> <b>Nutritional Facts:</b> </td> </tr>
                    <tr> <td> [REDACTED] </td> </tr>
                </table>
            </div>
            <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
        </div>
        <input type="image" src="/images/Menu Pictures/OrphanBurger.png" class="collapsible item center" padding="0px" margin="0px" />
        <div class="itemInfo">
            <p>
                $4.49 (--- Cal) <br />
                <b>Includes:</b> Large Bun (5"), Large Orphan Patty (5") (1), Tomato (Regular),
                Lettuce (Regular), Pickles (Regular), Diced Onions (Regular), Mustard (Regular) <br />
            </p>
            <button id="Customize" class="collapsible">Customize!</button>
            <div class="itemInfo">
                <!-- Bread -->
                <div><b>Bread</b></div>
                <table>
                    <tr>
                        <td>
                            <input id="OB_defaultBread" type="radio" name="bread" value="Large Bun">
                            <label for="Large Bun">Large Bun</label>
                        </td>
                        <td>
                            <input type="radio" name="bread" value="Small Bun">
                            <label for="Small Bun">Small Bun</label>
                        </td>
                        <td>
                            <input type="radio" name="bread" value="Brioche Bun">
                            <label for="Brioche Bun">Brioche Bun</label>
                        </td>
                        <td>
                            <input type="radio" name="bread" value="Texas Toast">
                            <label for="Texas Toast">Texas Toast</label>
                        </td>
                        <td>
                            <input type="radio" name="bread" value="No Bun">
                            <label for="No Bun">No Bun</label>
                        </td>
                    </tr>
                </table>
                <!-- Extra Patty -->
                <div><b>Extra Patty</b></div>
                <table>
                    <tr>
                        <td>
                            <input id="OB_patty" type="radio" name="extraPatty" value="Large Turkey Patty (1)" />
                            <label for="Large Turkey Patty">Large Turkey Patty</label>
                            <input type="number" id="OB_quantity" name="quantity" min="1" max="8" value="1" class="quantity">
                        </td>
                    </tr>
                </table>
                <!-- Cheese -->
                <div><b>Cheese</b></div>
                <table>
                    <tr>
                        <td>
                            <input id="OB_AmCheese" type="checkbox" name="cheese" value="American Cheese" />
                            <label for="American Cheese">American Cheese</label>
                            <input type="number" id="OB_AMquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                        <td>
                            <input id="OB_MnJkCheese" type="checkbox" name="cheese" value="Monterary Jack Cheese" />
                            <label for="Monterary Jack Cheese">Monterary Jack Cheese</label>
                            <input type="number" id="OB_MJquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                    </tr>
                </table>
                <!-- Add-Ons -->
                <div><b>Popular Add-Ons</b></div>
                <table>
                    <tr>
                        <td>
                            <input type="checkbox" name="addOns" value="Chili" />
                            <label for="Chili">Chili</label>
                        </td>
                        <td>
                            <input id="OB_Bacon" type="checkbox" name="addOns" value="Bacon Slices" />
                            <label for="Bacon Slices">Bacon Slices</label>
                            <input type="number" id="OB_BCNquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                        <td>
                            <input id="OB_Jalapeno" type="checkbox" name="addOns" value="Jalapenos"  />
                            <label for="Jalapenos">Jalapenos</label>
                            <input type="number" id="OB_JPNquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                        <td>
                            <input id="OB_GrJalapenos" type="checkbox" name="addOns" value="Grilled Jalapenos"  />
                            <label for="Grilled Jalapenos">Grilled Jalapenos</label>
                            <input type="number" id="OB_GrJPNquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                        <td>
                            <input id="OB_Avocado" type="checkbox" name="addOns" value="OB_Avocado"  />
                            <label for="OB_Avocado">Avocados</label>
                            <input type="number" id="OB_AVquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                        <td>
                            <input id="OB_Chiles" type="checkbox" name="addOns" value="Green OB_Chiles"  />
                            <label for="Green OB_Chiles">Green Chiles</label>
                            <input type="number" id="OB_GCquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                    </tr>
                </table>
                <!-- Toppings -->
                <div><b>Toppings</b></div>
                <table>
                    <tr>
                        <td>
                            <input id="OB_TomatoS" type="checkbox" name="toppings" value="Tomato" />
                            <label for="Tomato">Tomato</label>
                            <select name="selection" id="OB_Tomato">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="OB_LettuceS" type="checkbox" name="toppings" value="Lettuce"  />
                            <label for="Lettuce">Lettuce</label>
                            <select name="selection" id="OB_Lettuce">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="OB_pickles" type="checkbox" name="toppings" value="Pickles"  />
                            <label for="Pickles">Pickles</label>
                            <select name="selection" id="OB_Pickles">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="OB_onionD" type="checkbox" name="toppings" value="Diced Onions"  />
                            <label for="Diced Onions">Diced Onions</label>
                            <select name="selection" id="OB_DiOnion">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="OB_GrOnionS" type="checkbox" name="toppings" value="Grilled Onions"  />
                            <label for="Grilled Onions">Grilled Onions</label>
                            <select name="selection" id="OB_GrOnion">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="OB_FriseeS" type="checkbox" name="toppings" value="Frisée"  />
                            <label for="Frisée">Frisée</label>
                            <select name="selection" id="OB_Frisee">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <!-- Sauces -->
                <div><b>Sauces</b></div>
                <table>
                    <tr>
                        <td>
                            <input id="OB_mustard" type="checkbox" name="sauces" value="Mustard"  />
                            <label for="Mustard">Mustard</label>
                            <select name="selection" id="OB_Mustard">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="OB_Mayonnaise" type="checkbox" name="sauces" value="Mayonnaise"  />
                            <label for="Mayonnaise">Mayonnaise</label>
                            <select name="selection" id="OB_Mayo">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="OB_KetchupS" type="checkbox" name="sauces" value="Ketchup"  />
                            <label for="Ketchup">Ketchup</label>
                            <select name="selection" id="OB_Ketchup">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="OB_HoneyBBQ" type="checkbox" name="sauces" value="Honey BBQ"  />
                            <label for="Honey BBQ">Honey BBQ</label>
                            <select name="selection" id="OB_BBQ">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <br />
                <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
            </div>
            <button id="NutFacts" class="collapsible">Nutritional Information</button>
            <div class="itemInfo">
                <b>Contains:</b> Meat, Soy, Wheat, Gluten <br />
                <table>
                    <tr> <td> <b>Nutritional Facts:</b> </td> </tr>
                    <tr> <td> [REDACTED] </td> </tr>
                </table>
                <br />
                <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                <br />
            </div>
            <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" /> <!-- Change to Secret Click -->
        </div>

        <input type="image" src="/images/Menu Pictures/MeatTenders.png" class="collapsible item center" padding="0px" margin="0px" />
        <div class="itemInfo">
            <p>
                $4.49 (--- Cal) <br />
                <b>Includes:</b> 3 pcs. Meat Tenders, Choice of Dipping Sauce <br />
            </p>
            <!-- Customization -->
            <button id="NutFacts" class="collapsible">Nutritional Information</button>
            <div class="itemInfo">
                <b>Contains:</b> Meat, Wheat, Soy, Gluten, Milk <br />
                <table>
                    <tr> <td> <b>Nutritional Facts:</b> </td> </tr>
                    <tr> <td> [REDACTED] </td> </tr>
                </table>
            </div>
            <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
        </div>
        <input type="image" src="/images/Menu Pictures/BBQRibsSandwich.png" class="collapsible item center" padding="0px" margin="0px" />
        <div class="itemInfo">
            <p>
                $3.69 (--- Cal) <br />
                <b>Includes:</b> Large Bun (5"), Large Boneless Meat Patty (5") (1), Pickles (Regular), Diced Onions (Regular), Honey BBQ (Regular) <br />
            </p>
            <button id="Customize" class="collapsible">Customize!</button>
            <div class="itemInfo">
                <!-- Bread -->
                <div><b>Bread</b></div>
                <table>
                    <tr>
                        <td>
                            <input id="BBQSando_defaultBread" type="radio" name="bread" value="Large Bun">
                            <label for="Large Bun">Large Bun</label>
                        </td>
                        <td>
                            <input type="radio" name="bread" value="Small Bun">
                            <label for="Small Bun">Small Bun</label>
                        </td>
                        <td>
                            <input type="radio" name="bread" value="Brioche Bun">
                            <label for="Brioche Bun">Brioche Bun</label>
                        </td>
                        <td>
                            <input type="radio" name="bread" value="Texas Toast">
                            <label for="Texas Toast">Texas Toast</label>
                        </td>
                        <td>
                            <input type="radio" name="bread" value="No Bun">
                            <label for="No Bun">No Bun</label>
                        </td>
                    </tr>
                </table>
                <!-- Extra Patty -->
                <div><b>Extra Patty</b></div>
                <table>
                    <tr>
                        <td>
                            <input id="BBQSando_patty" type="radio" name="extraPatty" value="Large Turkey Patty (1)" />
                            <label for="Large Boneless Patty">Large Boneless Meat Patty</label>
                            <input type="number" id="BBQSando_quantity" name="quantity" min="1" max="8" value="1" class="quantity">
                        </td>
                    </tr>
                </table>
                <!-- Add-Ons -->
                <div><b>Popular Add-Ons</b></div>
                <table>
                    <tr>
                        <td>
                            <input id="BBQSando_Bacon" type="checkbox" name="addOns" value="Bacon Slices"  />
                            <label for="Bacon Slices">Bacon Slices</label>
                            <input type="number" id="BBQSando_BCNquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                        <td>
                            <input id="BBQSando_Jalapeno" type="checkbox" name="addOns" value="Jalapenos"  />
                            <label for="Jalapenos">Jalapenos</label>
                            <input type="number" id="BBQSando_JPNquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                        <td>
                            <input id="BBQSando_GrJalapenos" type="checkbox" name="addOns" value="Grilled Jalapenos"  />
                            <label for="Grilled Jalapenos">Grilled Jalapenos</label>
                            <input type="number" id="BBQSando_GrJPNquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                        <td>
                            <input id="BBQSando_Avocado" type="checkbox" name="addOns" value="BBQSando_Avocado"  />
                            <label for="BBQSando_Avocado">Avocados</label>
                            <input type="number" id="BBQSando_AVquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                        <td>
                            <input id="BBQSando_Chiles" type="checkbox" name="addOns" value="Green BBQSando_Chiles"  />
                            <label for="Green BBQSando_Chiles">Green Chiles</label>
                            <input type="number" id="BBQSando_GCquantity" name="quantity" min="1" max="8" class="quantity">
                        </td>
                    </tr>
                </table>
                <!-- Toppings -->
                <div><b>Toppings</b></div>
                <table>
                    <tr>
                        <td>
                            <input id="BBQSando_TomatoS" type="checkbox" name="toppings" value="Tomato" />
                            <label for="Tomato">Tomato</label>
                            <select name="selection" id="BBQSando_Tomato">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="BBQSando_LettuceS" type="checkbox" name="toppings" value="Lettuce"  />
                            <label for="Lettuce">Lettuce</label>
                            <select name="selection" id="BBQSando_Lettuce">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="BBQSando_pickles" type="checkbox" name="toppings" value="Pickles"  />
                            <label for="Pickles">Pickles</label>
                            <select name="selection" id="BBQSando_Pickles">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="BBQSando_onionD" type="checkbox" name="toppings" value="Diced Onions"  />
                            <label for="Diced Onions">Diced Onions</label>
                            <select name="selection" id="BBQSando_DiOnion">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="BBQSando_GrOnionS" type="checkbox" name="toppings" value="Grilled Onions"  />
                            <label for="Grilled Onions">Grilled Onions</label>
                            <select name="selection" id="BBQSando_GrOnion">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="BBQSando_FriseeS" type="checkbox" name="toppings" value="Frisée" />
                            <label for="Frisée">Frisée</label>
                            <select name="selection" id="BBQSando_Frisee">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <!-- Sauces -->
                <div><b>Sauces</b></div>
                <table>
                    <tr>
                        <td>
                            <input id="BBQSando_mustard" type="checkbox" name="sauces" value="Mustard" />
                            <label for="Mustard">Mustard</label>
                            <select name="selection" id="BBQSando_Mustard">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="BBQSando_Mayonnaise" type="checkbox" name="sauces" value="Mayonnaise"  />
                            <label for="Mayonnaise">Mayonnaise</label>
                            <select name="selection" id="BBQSando_Mayo">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="BBQSando_KetchupS" type="checkbox" name="sauces" value="Ketchup" />
                            <label for="Ketchup">Ketchup</label>
                            <select name="selection" id="BBQSando_Ketchup">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                        <td>
                            <input id="BBQSando_HoneyBBQ" type="checkbox" name="sauces" value="Honey BBQ" />
                            <label for="Honey BBQ">Honey BBQ</label>
                            <select name="selection" id="BBQSando_BBQ">
                                <option value="Less">Less</option>
                                <option value="Regular">Regular</option>
                                <option value="More">More</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <button id="NutFacts" class="collapsible">Nutritional Information</button>
            <div class="itemInfo">
                <b>Contains:</b> Meat, Wheat, Gluten <br />
                <table>
                    <tr> <td> <b>Nutritional Facts:</b> </td> </tr>
                    <tr> <td> [REDACTED] </td> </tr>
                </table>
            </div>
            <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" /> <br />
        </div>
        <input type="image" src="/images/Menu Pictures/VeinRings.png" class="collapsible item center" padding="0px" margin="0px" />
        <div class="itemInfo">
            <p>
                $2.69 (--- Cal) <br />
                <b>Includes:</b> Fried Vein Rings <br />
            </p>
            <!-- Customization -->
            <button id="NutFacts" class="collapsible">Nutritional Information</button>
            <div class="itemInfo">
                <b>Contains:</b> Meat, Wheat, Gluten <br />
                <table>
                    <tr> <td> <b>Nutritional Facts:</b> </td> </tr>
                    <tr> <td> [REDACTED] </td> </tr>
                </table>
            </div>
            <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" /> <br />
        </div>
        <input type="image" src="/images/Menu Pictures/BlackPuddingBreakfastMenu.png" class="collapsible item center" padding="0px" margin="0px" />
        <div class="itemInfo">
            <p id="Prices">
                $4.20 (--- Cal) <br />
                <b>Includes:</b> Buttermilk Biscuit, Scrambled Eggs, 2 pcs. Black Pudding <br />
            </p>
            <!-- Customization -->
            <button id="NutFacts" class="collapsible">Nutritional Information</button>
            <div class="itemInfo">
                <b>Contains:</b> Soy, Milk, Wheat, Gluten, Egg <br />
                <table>
                    <tr> <td> <b>Nutritional Facts:</b> </td> </tr>
                    <tr> <td> [REDACTED] </td> </tr>
                </table>
                <br />
                <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                <br />
            </div>
            <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
        </div>

        <div class="catName">Drinks</div>
        <!-- Drinks -->
        <table class="centerTable">
            <tr>
                <td>
                    <label for="kohler" class="center">Coca Kohler</label>
                    <input id="kohler" type="image" src="/images/TeacherDrinks/CocaKohler.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69</label> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19</label> <br />
                        <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="diet" class="center">Diet Cox</label>
                    <input id="diet" type="image" src="/images/TeacherDrinks/DietCox.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69</label> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19</label> <br />
                        <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="zero" class="center">Cox Zero</label>
                    <input id="zero" type="image" src="/images/TeacherDrinks/ZeroCox.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69</label> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19</label> <br />
                        <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="comire" class="center">RC</label>
                    <input id="comire" type="image" src="/images/TeacherDrinks/RComire.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69</label> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19</label> <br />
                        <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="burk" class="center">Root Burk</label>
                    <input id="burk" type="image" src="/images/TeacherDrinks/rootBurk.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69</label> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19</label> <br />
                        <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="sarah" class="center">Sarah Mist</label>
                    <input id="sarah" type="image" src="/images/TeacherDrinks/SarahMist.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69</label> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19</label> <br />
                        <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="fox" class="center">FoxStar</label>
                    <input id="fox" type="image" src="/images/TeacherDrinks/LaFox.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69</label> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19</label> <br />
                        <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="shull" class="center">Red Shull</label>
                    <input id="shull" type="image" src="/images/TeacherDrinks/RedShull.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69</label> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19</label> <br />
                        <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="beardall" class="center">Beardall Beer</label>
                    <input id="beardall" type="image" src="/images/TeacherDrinks/BeardallBeer.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69</label> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19</label> <br />
                        <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="water" class="center">Pritchard Water</label>
                    <input id="water" type="image" src="/images/TeacherDrinks/PritchardWater.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-K" value="Kids"><label for="Kids">Kids (16 oz): $1.69</label> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (20 oz): $2.19</label> <br />
                        <input type="radio" id="Soda_M" name="size-M" value="Medium"><label for="Medium">Medium (32 oz): $2.49</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (44 oz): $2.79</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="maple" class="center">Iced Maple Latte</label>
                    <input id="maple" type="image" src="/images/TeacherDrinks/mapleLatte.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (12 oz): $1.59</label> <br />
                        <input type="radio" id="Coffee_M" name="size-M" value="Medium"><label for="Medium">Medium (16 oz): $1.89</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (20 oz): $2.19</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="cantera" class="center">Cantera Tea</label>
                    <input id="cantera" type="image" src="/images/TeacherDrinks/CanteraTea.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (12 oz): $1.59</label> <br />
                        <input type="radio" id="Coffee_M" name="size-M" value="Medium"><label for="Medium">Medium (16 oz): $1.89</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (20 oz): $2.19</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="cocoa" class="center">Hot Cocoa with Marshall-mallows</label>
                    <input id="cocoa" type="image" src="/images/TeacherDrinks/MarshallCocoa-Resize.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <b>Sizes:</b> <br />
                        <input type="radio" name="size-S" value="Small"><label for="Small">Small (12 oz): $1.59</label> <br />
                        <input type="radio" id="Coffee_M" name="size-M" value="Medium"><label for="Medium">Medium (16 oz): $1.89</label> <br />
                        <input type="radio" name="size-L" value="Large"><label for="Large">Large (20 oz): $2.19</label> <br />
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="milk" class="center">Milk</label>
                    <input id="milk" type="image" src="/images/Menu Pictures/malk.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <table>
                            <tr>
                                <td><input type="radio" name="milk" value="Milk"><label for="Milk">Regular Milk</label></td>
                                <td><input type="radio" name="milk" value="Milk"><label for="Milk">Chocolate Milk</label></td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="milk" value="Milk"><label for="Milk">Almond Milk</label> </td>
                                <td><input type="radio" name="milk" value="Milk"><label for="Milk">Soy Milk</label></td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="milk" value="Milk"><label for="Milk">Oat Milk</label></td>
                                <td><input type="radio" name="milk" value="Milk"><label for="Milk">Cashew Milk</label></td>
                            </tr>
                            <tr>
                                <td><input type="radio" name="milk" value="Milk"><label for="Milk">B. Milk</label></td>
                                <td><input type="radio" name="milk" value="Milk"><label for="Milk">Sus Milk</label></td>
                            </tr>
                        </table>
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="AJ" class="center">Apple Juice</label>
                    <input id="AJ" type="image" src="/images/Menu Pictures/apple-juice.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
                <td>
                    <label for="OJ" class="center">Orange Juice</label>
                    <input id="OJ" type="image" src="/images/Menu Pictures/orange-juice.png" class="collapsible item center" padding="0px" margin="0px" />
                    <div class="itemInfo">
                        <br />
                        <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
                        <br />
                    </div>
                </td>
            </tr>
        </table>
        <!-- Dessert -->
        <div class="catName">Dessert</div>
        <input type="image" src="/images/Menu Pictures/BrainPudding.png" class="collapsible item center" padding="0px" margin="0px" />
        <div class="itemInfo">
            <p id="Prices">
                $2.79 (--- Cal) <br />
                <b>Includes:</b> Brain Pudding <br />
            </p>
            <button id="NutFacts" class="collapsible">Nutritional Information</button>
            <div class="itemInfo">
                <b>Contains:</b> Meat, Milk <br />
                <table>
                    <tr> <td> <b>Nutritional Facts:</b> </td> </tr>
                    <tr> <td> [REDACTED] </td> </tr>
                </table>
            </div>
            <br />
            <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
            <br />
        </div>
        <input type="image" src="/images/Menu Pictures/EyeballJelly.png" class="collapsible item center" padding="0px" margin="0px" />
        <div class="itemInfo">
            <p id="Prices">
                $2.39 (--- Cal) <br />
                <b>Includes:</b> Eyeball Jelly <br />
            </p>
            <button id="NutFacts" class="collapsible">Nutritional Information</button>
            <div class="itemInfo">
                <b>Contains:</b> Meat <br />
                <table>
                    <tr> <td> <b>Nutritional Facts:</b> </td> </tr>
                    <tr> <td> [REDACTED] </td> </tr>
                </table>
            </div>
            <br />
            <input type="image" src="/images/btnAddToOrder.png" class="AddButton center" asp-controller="Menu" asp-action="DUD" />
            <br />
        </div>
        <!-- Bottom Spacer -->
        <div>
            <br />
            <img id="secretBurger" class="center" /> <br />
            <div id="secretText" class="center"></div>
            <br />
        </div>
    </section>
</body>
</html>
