@{
    ViewData["Title"] = "NOTABURGER | STORIES";
}
@*<main class="mt-4 mb-5">
    <div class="container">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-8 mb-4">*@
                <!--Section: Post data-mdb-->
                @*<section class="border-bottom mb-4">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(144).jpg"
                         class="img-fluid shadow-2-strong rounded-5 mb-4" alt="" />

                    <div class="row align-items-center mb-4">
                        <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (23).jpg" class="rounded-5 shadow-1-strong me-2"
                                 height="35" alt="" loading="lazy" />
                            <span> Published <u>15.07.2020</u> by</span>
                            <a href="" class="text-dark">Anna</a>
                        </div>

                        <div class="col-lg-6 text-center text-lg-end">
                            <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                                <i class="fab fa-facebook-f"></i>
                            </button>
                            <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                                <i class="fab fa-twitter"></i>
                            </button>
                            <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
                                <i class="fab fa-linkedin"></i>
                            </button>
                            <button type="button" class="btn btn-primary px-3 me-1">
                                <i class="fas fa-comments"></i>
                            </button>
                        </div>
                    </div>
                </section>*@
                <!--Section: Post data-mdb-->
                <!--Section: Text-->
<section class="divs divs3">
                    <img src="~/images/Founders.png"
                         class="img-fluid shadow-2-strong rounded-5 mb-4" alt="Nosbod and Notrub 1960" width="500"/>
                    <p>
                        NOTABURGER wasn't always the big restaurant as it is today, in the beginning it just 
                        started out as a dream shared between two friends to bring healthy food and smiles 
                        to families in their small hometown of Tomball, TX.
                    </p>

                    <p><strong>How Did NOTABURGER Start?</strong></p>

                    <p>
                        The two founders, Nosbod and Notrub, started their own restaurant all the way back in 1954. The name of
                        the restaurant was first NOTJUSTABURGER when their business first opened, and things were
                        slow at first, with not too many customers visiting their location. The founders felt like
                        something was missing, something that could bring in the masses, something that could
                        make their names a household name.
                    </p>

                    @*<p class="note note-light">
                        <strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Optio odit consequatur porro sequi ab distinctio modi. Rerum cum dolores sint,
                        adipisci ad veritatis laborum eaque illum saepe mollitia ut voluptatum.
                    </p>*@

                    <p><strong>Birth of the GRASSBURGER™</strong></p>
                    <p>
                        Two years after the restaurant was first opened, the founders decided to make a menu item that 
                        would make the restaurant stand above all of the others. By using the cheapest ingredient they 
                        could find, grass, they made the first GrassBurger ™. At first, the GrassBurger ™ confused many
                        customers as to how grass could taste good, but after word spread of how different it tasted, 
                        people started loving it. They finally found it, this is what can finally make them big!
                    </p>

                    @*<img src="~/images/Founders.png" class="img-fluid shadow-1-strong rounded-5 mb-4"
                         alt="" />*@
@*
                    <ul>
                        <li>Lorem</li>
                        <li>Ipsum</li>
                        <li>Dolor</li>
                        <li>Sit</li>
                        <li>Amet</li>
                    </ul>
*@
                    <p><strong>The Beginning of NOTABURGER</strong></p>
                    <p>
                        The founders, pleased with the results and customer feedback of the GRASSBURGER™ decided to 
                        change the name of the restaurant to NOTABURGER to reflect their most famous product in 1957. At the 
                        time of their first rebranding, they overhauled the menu and got rid of regular burgers like 
                        the ones found on competitors’ menus. Major expansions were made with many new stores opening 
                        in Texas during this period, with plans to expand to other states on the horizon.
                    </p>

                    <p><strong>NOTABURGER Expands</strong></p>
                    <p>
                        Years after NOTABURGER added the GRASSBURGER™ to the menu, locations had begun to open all across the 
                        country. This major and rapid growth was partially attributed to an ever expanding menu, and partially
                        due to positive relations to the community. Ever since the beginning, NOTABURGER has always made its top
                        priority to give back to the community it ever so graciously serves. With its increased resources, it 
                        started many programs and sponsorships of various degrees ranging from providing for local Boy Scouts programs,
                        high school sports teams, to even family care clinics! It doesn't matter what it is, NOTABURGER is always there.
                    </p>
                    <p><i>Founders Step Down</i></p>
                    <p>
                        During the year of 1963, the founders of NOTABURGER decided it was in their best interest to step down from their leadership positions, leaving
                        the company to their best friend, Cire Relhók.
                    </p>
                    <p><strong>NOTABURGER HQ</strong></p>
                    <p>
                        After the beginning of its major growth, NOTABURGER needed to create a company headquarters to give a central place
                        to run the coorperation. During the years of growth, a whole ten years after the birth of NOTJUSTABURGER, the HQ was built
                        in the small town of Clinton, VA. This move was contriversial at first, but was a smart decision due to the low costs of building
                        there. During this time Cire Relhók is appointed as the new CEO of NOTABURGER.
                    </p>
    <p><strong><a href="https://drive.google.com/file/d/1oQO-HjZdRpYJNw9_XYdmDIAVIPPOv-o3/view?usp=share_link"> NOTABURGER Dark Age™</a></strong></p>
                    <p>
                        NOTABURGER started losing popularity as the novelty of a burger made of grass started to wear off, leading to the company to release
                        many different menu items such as chili dogs, the TURKEYBURGER™, and other food items. Sadly, these efforts didn't do much in terms
                        of increased sales for many years.
                    </p>
                </section>
