@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="Style/StyleSheet.css" />
    <link rel="stylesheet" href="Style/secretsStyle.css" />
    <script src="Scripts/secrets_JS.js" defer></script>
    <title>NOTABURGER | Stories</title>
</head>

<body>

    <div class="content">
        <section class="box_ center">
            <h1> ======================= How It Began ======================= </h1>
            <img class="center_image" id="location" src="Resources/NotABurger_.png" width="500" /><figure id="scene"></figure> </img>
            <p>
                In the year 1954, Nosbod Norma and Notrub Laup began a local stand called NotABurger in Tomball, TX. They began as any regular stand and many people enjoyed their burgers.
                After 2 years, they had made enough to create their own business, but competitors grew in the area trying to one up them. They both made the decision of doing something no one expected.
                That was to create a burger of something not edible, at least to humans. Their cheapest options was grass, so they went with it.
            </p>
            <p>
                This caused a major reaction from the community both good and bad, some calling it revolutionary while others called it unsanitary. Both founders didn't
                care about the reviews they got, they wanted to push the limits on food. Although it had begun with just creating different wild foods to stand out, major world/government
                organizations caught eye. This made them start questioning, what other resources can be used to make food?
            </p>
            <image id="imgFounders" onclick="Hidden_Stories()" class="center_image center" src="Resources/Founders.png" width="500"> <figure class="center" id="caption">Nosbod and Notrub 1960</figure> </image>
            <p>
                Norma and Laup both decided that this was the true calling of NotABurger, to create a change and better tomorrow. They weren't just any fast food, they were the ones for the communities.
                They would be the ones to help those in need and make sure everyone around the USA got a proper meal out of things that were never imagined to have been a source of food.
                Now with over 100 restaurants around the country, NotABurger is here to provide to not just its customers but to major organizations around the world by providing programs
                and food in places of need.
            </p>
            <image class="center_image center" src="Resources/NotABurgerLocations.png" width="500"> All up to dates locations</image>
        </section>
    </div>
    @*<footer>
    <nav>
    <div>
    <table class="table">
    <tr>
    <th><a href="stories.html">Company</a></th>
    <th colspan="2"><a href="NOTASTORE.html">Shop NOTASTORE</a></th>
    <th><a href="Menu.html">ORDERING & REWARDS</a></th>
    <th><a href="">Connect</a></th>
    </tr>
    <tr class="hidden">
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    </tr>
    <tr>
    <td><a href="">Our History</a></td>
    <td><a href="">Apparel</a></td>
    <td><a href="">Buy Gift Card</a></td>
    <td><a href="">MyNotaburger Benefits</a></td>
    <td><a href="">Contact Customer Care</a></td>
    </tr>
    <tr class="hidden">
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    </tr>
    <tr>
    <td><a href="">Press Room</a></td>
    <td><a href="">Kids</a></td>
    <td><a href="">Gift Card Balance</a></td>
    <td><a href=""></a>FAQs</td>
    <td><a href="">Sign Up for Emails</a></td>
    </tr>
    <tr class="hidden">
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    </tr>
    <tr>
    <td><a href="">Locations</a></td>
    <td><a href="">Gifts</a></td>
    <td><a href="">My Account</a></td>
    <td></td>
    <td><a href="">Fill Out Our Survey</a></td>
    </tr>
    <tr class="hidden">
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    </tr>
    <tr>
    <td><a href="">Portals</a></td>
    <td><a href="">Groceries</a></td>
    <td><a href="">Shipping & Returns</a></td>
    <td></td>
    <td>
    <a href="https://www.facebook.com/profile.php?id=100087649245588" target="_blank"><img src="Resources/icnFacebook.png" width="30" />&nbsp;&nbsp;</a>
    <a href="https://twitter.com/NotABurger0" target="_blank"><img src="Resources/icnTwitter.png" width="30" />&nbsp;&nbsp;</a>
    <a href="" target="_blank"><img src="Resources/icnInstagram.png" width="30" />&nbsp;&nbsp;</a>
    <a href="https://www.youtube.com/channel/UCfCUxpbpaH6uKF6cN92s1Mw" target="_blank"><img src="Resources/icnYoutube.png" width="30" />&nbsp;&nbsp;</a>
    </td>
    </tr>
    <tr class="hidden">
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    <th>&lt;&gt;</th>
    </tr>
    <tr>
    <td><a href="">Franchising</a></td>
    <td><a href="">Accessories</a></td>
    <td><a href="">FAQs</a></td>
    <td></td>
    <td></td>
    </tr>
    </table>
    <hr />
    <ul>
    <li class="bottomMenu"><a href="">Contact Us</a></li>
    <li class="bottomMenu"><a href="">Nutritional Information</a></li>
    <li class="bottomMenu"><a href="">Terms & Conditions</a></li>
    <li class="bottomMenu"><a href="">Accessibility Statement</a></li>
    </ul>
    <span><img src="Resources/Notaburger Logo_transparent.png" width="60" /></span>
    </div>
    </nav>
    </footer>*@
</body>

</html>
