/* FONTS */
@font-face {
    font-family: NotAFont2;
    src: url('whatafont/whata2.ttf');
}

@font-face {
    font-family: NotAFont2e;
    src: url('whatafont/whata2e.ttf');
}

@font-face {
    font-family: NotAFont2i;
    src: url('whatafont/whata2i.ttf');
}

@font-face {
    font-family: NotAFont2s;
    src: url('whatafont/whata2s.ttf');
}

h1 {
    font-family: NotAFont2s;
}

.navbar {
    background-color: #D6070E;
}

.divs {
    background-color: #1f1f5f;
    background-color: #5b1313;
    
    background-image: linear-gradient(135deg, #1b0b0b 0%, #650e0e 100%);
    border-radius: 15px;
}

.divs2 {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    text-align: center;
}

.divs3 {
    box-shadow: 80px 80px 5px #570305;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}



.carousel_shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}


