html {
    font-size: 14px;
}


/* FONTS */
@font-face {
    font-family: NotAFont2;
    src: url('whatafont/whata2.ttf');
}

@font-face {
    font-family: NotAFont2e;
    src: url('whatafont/whata2e.ttf');
}

@font-face {
    font-family: NotAFont2i;
    src: url('whatafont/whata2i.ttf');
}

@font-face {
    font-family: NotAFont2s;
    src: url('whatafont/whata2s.ttf');
}

h1 {
    font-family: NotAFont2s;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: white;
    }
}

header {
    font-family: NotAFont2i;
}

html {
    position: relative;
    min-height: 100%;
}

h1, h2 {
    color: white;
    font-family: NotAFont2s;
}


h3, h4 {
    color: white;
}


p {
    color: white;
}

body {
    margin-bottom: 60px;
}

.img_homepage {
    width: 400px;
    height: 550px;
    border-radius: 20px;
}

.img_Logos {
    width: 220px;
    height: 220px;
    border-radius: 50px;
}

.div_center {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.text_homepage {
    text-align: center;
    margin: 100px auto;
}

.center_img {
    margin-left: auto;
    margin-right: auto;
}

.border_ {
    border: 100px thick black;
}

.divs {
    background-color: #1f1f5f;
    background-image: linear-gradient(160deg, #1f1f5f 0%, #1d1f1f 100%);
    border-radius: 15px;
}

.divs2 {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    text-align: center;
    
}

.divs3 {
    box-shadow: 80px 80px 5px #0D0D1F;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}



.carousel_shadow {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.round_center {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}


a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}